@charset"UTF-8";
body{
  background-color: #fffeee
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
h4{
  text-align: center;
}
p{
  text-align: center;
}

div{
	text-align: center;
  }
select{
	text-align: center;
}
.title{
	position: relative
}
.logo{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.cp_hr06 {
	height: 300px;
	border-width: thick;
  border-style: none;
	background-color: #ff810a;
}
.cp_arrows *, .cp_arrows *:before, .cp_arrows *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_arrows {
	position: relative;
	display: flex;
	height: 180px;
	margin: 2em auto;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.cp_arrows .cp_arrow {
	position: relative;
	display: inline-block;
	padding-top: 1.8em;
	-webkit-transition: all 0.3s ease-out;
	        transition: all 0.3s ease-out;
	-webkit-animation: arrow-move06 2s 1s ease-in-out infinite;
	        animation: arrow-move06 2s 1s ease-in-out infinite;
	text-decoration: none;
	color: #ff9d2e;
	border-color: #ff9d2e;
}
.cp_arrows .cp_arrow:before {
	font-size: 2em;
	line-height: 1.9em;
	position: absolute;
	top: 0;
	left: 50%;
	width: 2em;
	height: 2em;
	margin-left: -0.7em;
	content: '▼';
	-webkit-transition: transform 0.5s ease-in;
	        transition: transform 0.5s ease-in;
	text-align: center;
	border: 0.13em solid #ffffff;
	border-color: inherit;
	border-radius: 10em;
}
.cp_arrows .cp_arrow:hover {
	color: #fff942;
	border-color: #fff942;
}
.cp_arrows .cp_arrow:hover:before {
	transform: rotate(360deg);
}.anim-box.fadeup.is-animated {
  animation: fadeup 1s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}
 
@keyframes fadeup {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes arrow-move06 {
	0% {
		top: 1%;
		opacity: 0.1;
	}
	70% {
		top: 5%;
		opacity: 1;
	}
	100% {
		top: 1%;
		opacity: 0.3;
	}
}
@keyframes arrow-move06 {
	0% {
		top: 1%;
		opacity: 0.1;
	}
	70% {
		top: 5%;
		opacity: 1;
	}
	100% {
		top: 1%;
		opacity: 0.3;
	}
}
form{
  text-align: center;
}

.cp_hr05 {
	height: 50px;
	border-width: thick;
  border-style: none;
	background-color: #ff810a;
}
html,
body,
div,
p {
  margin: 0;  /* 余分なマージンを消去 */
  padding: 0; /* 余分なパディングを消去 */
}
 
html,
body,
div.background {
  height: 100%; /* min-heightに対応していないブラウザ用 */
}
 
div.background {
	min-height: 100%; /* 最小の高さ */
	width: 300px;
	background: #EFEFEF;
  }
 
body > div.background {
  height: auto; /* 要素を超えた分の背景が伸びないブラウザ用 */
}
/* html,body{
	overflow: hidden
  } */
.image-vw {
width : 80vw;
 
}
.wrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

footer{
    width: 100%;
    background-color: #ff810a;
    color: #fff;
    text-align: center;
    padding: 30px 0;

 position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

/* #map {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
}

.marker-container {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  cursor: pointer;
}

.marker-title {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.marker-icon {
  height: 30px; 
  width: auto; 
  background-size: cover;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
} */


  #map { position:absolute; top:50px; bottom:0; width:100%; }
  

  
  .marker {
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8426/map-marker.svg');
	background-size: cover;
	width: 30px;
	height: 50px;
	cursor: pointer;
  }
  .marker2 {
	background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 24 24"><path fill="%23ff0000" d="M16,12V4H17V2H7V4H8V12L6,14V16H11.2V22H12.8V16H18V14L16,12Z" /></svg>');
	background-size: cover;
	width: 50px;
	height: 50px;
	cursor: pointer;
  }
  
  /* Zoom Contrial */
  .mapboxgl-ctrl-group {
	  border-radius: 0px;
	  -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
	  -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
	  box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
	  overflow: hidden;
	  background: #fff;
  }
  
  .mapboxgl-ctrl-group > button {
	  width: 30px;
	  height: 30px;
	  display: block;
	  padding: 0;
	  outline: none;
	  border: none;
	  border-bottom: 1px solid #ddd;
	  box-sizing: border-box;
	  background-color: rgba(0,0,0,0);
	  cursor: pointer;
  }
  
  body {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
  }
  main {
	flex: 1;
  }