{% extends 'base.html' %}
{% block body %}
  <div class="p-5 mb-2 bg-primary text-white"></div>
  <form id="form" action="/result" method="POST">
    {% for i in range(personNum|int-1) %}
    <div class="q">
      <h1 id="num">{{i+1}}人目</h1><br>
      <p>Q1.辛くない ↔ 辛い</p>
      <input type="range" class="form-range mx-auto w-50"  name="coor"><br><br>
      <p>Q2.シェアしたくない ↔ シェアしたい</p>
      <input type="range" class="form-range mx-auto w-50" name="coor"><br><br>
      <p>Q3.薄い・あっさり ↔ 濃い・こってり</p>
      <input type="range" class="form-range mx-auto w-50" name="coor"><br><br>
      <p>Q4.ローカロリー ↔ ハイカロリー</p>
      <input type="range" class="form-range mx-auto w-50" name="coor"><br><br>
      <p>Q5.量を少なくしたい ↔ 量を多く食べたい</p>
      <input type="range" class="form-range mx-auto w-50" name="coor"><br><br>
      <input type="button" class="btn btn-outline-primary" onclick="hidshow()" value="決定">
    </div>
    {% endfor %}
    <div class="q">
      <h1 id="num">{{personNum}}人目</h1><br>
      <p>Q1.辛くない ↔ 辛い</p>
      <input type="range" class="form-range mx-auto w-50" name="coor"><br><br>
      <p>Q2.シェアしたくない ↔ シェアしたい</p>
      <input type="range" class="form-range mx-auto w-50" name="coor"><br><br>
      <p>Q3.薄い・あっさり ↔ 濃い・こってり</p>
      <input type="range" class="form-range mx-auto w-50" name="coor"><br><br>
      <p>Q4.ローカロリー ↔ ハイカロリー</p>
      <input type="range" class="form-range mx-auto w-50" name="coor"><br><br>
      <p>Q5.量を少なくしたい ↔ 量を多く食べたい</p>
      <input type="range" class="form-range mx-auto w-50" name="coor"><br><br>
      <input type="submit" class="btn btn-outline-primary" value="決定">
    </div>
    
  </form>
  <br></br>
  <div class="p-5 mb-2 bg-primary text-white"><br><br><br><br></div>
  <script language="javascript" type="text/javascript">
    let count = 0;
    let personNum = {{ personNum }};
    let num = document.getElementById("num");
    let elementH1 = document.querySelectorAll("div.q");
    for (const[i,e] of elementH1.entries()){
      e.id = `div-${i}`;
    }

    for (let i=1; i<{{personNum|int}}; i++){
      document.getElementById(`div-${i}`).style.display = "none";
    }
  
    const hidshow = () => {
      document.getElementById(`div-${count}`).style.display = "none";
      document.getElementById(`div-${count+1}`).style.display = "";
      count++;
    }
  </script>
{% endblock %}

