{% extends 'base.html' %}
{% block head%}
<script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet" />
{% endblock%} {% block body %}
<div class="p-5 mb-2 bg-primary text-white"></div><br><br>
<h4 id=res></h4>
<p id="link"></p>
<div id='map'></div>
<script>
  let geojson = {
    type: 'FeatureCollection',
    features: []
  };
  function showmap(result){
    result = JSON.parse(result);
    for (let shop in result){
      geojson.features[geojson.features.length] = {
        type: 'Feature',
        geometry: {
        type: 'Point',
        coordinates: [parseFloat(JSON.stringify(result[shop].lng)), parseFloat(JSON.stringify(result[shop].lat))]
        },
        properties: {
        title: result[shop].name,
        description: result[shop].address,
        url: result[shop].url
        }
      }
    };

    mapboxgl.accessToken = 'pk.eyJ1IjoidGV0dGEtcGRudCIsImEiOiJjbDNzZDBranUxbHdwM3FwbmhnMnoxZnVvIn0.VCOORYtsppjVpoEhHpKjKg';

    let map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [{{longi}},{{lati}}],
      zoom: 13
    });



    // create a HTML element for each feature
    var el2 = document.createElement('div');
    el2.className = 'marker2';
    
    // make a marker for each feature and add to the map
    new mapboxgl.Marker(el2, { offset: [-0 / 0.5, -0 / 0.5] })
    .setLngLat([{{longi}},{{lati}}])
    .addTo(map);

    // add markers to map
    geojson.features.forEach(function(marker) {

      // create a HTML element for each feature
      var el = document.createElement('div');
      el.className = 'marker';
      

      // make a marker for each feature and add to the map
      new mapboxgl.Marker(el, { offset: [-0 / 0.5, -0 / 0.5] })
      .setLngLat(marker.geometry.coordinates)
      .setPopup(new mapboxgl.Popup({ offset: 40 }) // add popups
      .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p><a href='+marker.properties.url+' class="btn btn-primary">詳細</a>'))
      .addTo(map);
    });


  };
  
  let elm = document.getElementById('res');
  let result =  JSON.parse({{result|tojson}});
  let len = Object.keys(result).length;
  result = JSON.stringify(result);
  if (len==0){
    const map = document.getElementById('map'); 
    map.remove();

    elm.textContent = '近くにお店がないようです。ホットペッパーグルメで検索してみませんか？';
    var anchor = document.createElement("a");
    anchor.className="btn btn-primary";
    anchor.href = "https://www.hotpepper.jp/fwt{{n}}/";
    anchor.textContent = "ホットペッパーで検索する";
    document.getElementById('link').appendChild(anchor);

  }else{
    showmap(result);
  }
</script> <br><br>
<footer> </footer>
{% endblock %}